<!DOCTYPE html >
<html>

<head>
  <title>Bande gauche utilisateur</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!--
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
    crossorigin="anonymous">
  </script>
  <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2"
        crossorigin="anonymous">

       -->
  <link rel="stylesheet" href="utilisateur.component.css">
</head>
<script type="text/javascript" src="src/assets/javascript/utilisateurJavaScript.js"></script>
<body>
  <div class="container">
    <nav class="navbar">
      <div>
        <ul>
          <li>
            <img src="image0.jpeg" width="50px">
          </li>

          <li>
            <h5 id="nom">Nom de l'utilisateur</h5>
          </li>

          <li>
            <input type="button" value="Creer une playlist" id="creerPL">
          </li>
        </ul>
      </div>
  </nav>

  </div>

</body>

</html>
