<!DOCTYPE html>
  <html>
    <head>
      <meta charset= UTF-8>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="filtre.component.css">
    </head>

    <body>
    <script type="text/javascript" src="src/assets/javascript/filtreJavascript.js"></script>
    <div class="selectionner" style="width: 300px;">
        <aside>
          <h5>Trier par: </h5>
        </aside>
        <select>
          <option value="0">Trier par:</option>
          <option value="1">Nom de la playlist (A-Z) </option>
          <option value="2">Nom de la playlist (Z-A) </option>
          <option value="3"> Nom du style (A-Z) </option>
          <option value="4"> Nom du style (Z-A) </option>
          <option value="5"> Nombre de clics (Croissant) </option>
          <option value="6"> Nombre de clics (Décroissant) </option>
       </select>
    </div>


    </body>


</html>
